{% extends 'main_template.html' %}

<body>
<div class="container">
{% block detail %}
{% load static %}
        <h1> {{ book.title }} </h1>
        <h2> {{ book.date }} </h2>
        <h3> {{ book.description }} </h3>

    <div class="block-rating">
      {% for i in stars %}
        {% if book.rating >= i  %}
            <span class="fa fa-star checked" id="star_checked {{ i }} {{ book.slug }}"></span>
        {% else %}
            <span class="fa fa-star" id="star {{ i }} {{ book.slug }}"></span>
        {% endif%}
    {% endfor %}

    <h3 class="book_rating"> Rating: {{ book.rating }} </h3>
    </div>
        {% for author in book.authors.all %}
            <h4> Авторы книги:  </h4>
            <i><h4> {{ author }}</h4></i>
        {% endfor %}


        <br><br>
        {% if book.comments.exists %}
            <i><h4> Количество комментариев: {{ book.count }} </h4></i>
        {% endif %}

        {% for comment in book.comments.all %}
    <div id="block_comment-{{ comment.id }}">
            <h4> {{comment.text}} </h4>
            <h5> {{comment.date}} </h5>
            <h6> {{comment.author}} </h6>

             <h5 class="like_comment" id="comment-{{ comment.id }}">Likes : {{ comment.count_like }} </h5>
            <h4 class="delete_comment" id="delete_comment-{{comment.id}}"> Удалить комментарий </h4>
    </div>
            <br><br>
        {% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'add_comment' slug=book.slug %}" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <input type="submit" value="Оставить комментарий">
</form>
{% endif %}

<script src="{% static 'js\script.js' %}"></script>
{% endblock %}

</div>
</body>
</html>