

<html lang="en">
<head>

  <title>Bookshop Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
</head>
<body>
<a href="{% url 'to_the_main' %}"> На главную </a>
<div class="container">


{% block main  %}
{% endblock %}

{% block detail %}
{% endblock %}
{% block login %}
{% endblock %}

{% block feedback %}
{% endblock %}

{% block update_book %}
{% endblock %}

{% block register_block %}
{% endblock %}

{% block users_account %}
{% endblock %}

{% block basket_page %}
{% endblock %}
</div>
</body>
</html>