{% extends 'main_template.html' %}
<body>
<div class="container">
{% block detail %}
        <h1> {{ book.title }} </h1>
        <h2> {{ book.date }} </h2>
        <h3> {{ book.description }} </h3>

      {% for i in stars %}
        {% if book.rating >= i  %}
            <a href="{% url 'add_rate_location' slug=book.slug rate=i location=1 %}"><span class="fa fa-star checked"></span></a>
        {% else %}
            <a href="{% url 'add_rate_location' slug=book.slug rate=i location=1 %}"><span class="fa fa-star"></span></a>
        {% endif%}
    {% endfor %}
    <h3> {{ book.rating }} </h3>
        {% for author in book.authors.all %}
            <h4> Авторы книги:  </h4>
            <i><h4> {{ author }}</h4></i>
        {% endfor %}


        <br><br>
        <a href="{% url 'add_like' id=book.id %}"> likes: {{ book.likes }} </a>
        {% if book.comments.exists %}
            <i><h4> Количество комментариев: {{ book.count }} </h4></i>
        {% endif %}
        {% for comment in book.comments.all %}
            <h4> {{comment.text}} </h4>
            <h5> {{comment.date}} </h5>
            <h6> {{comment.author}} </h6>
            <a href="{% url 'add_comment_like_location' id=comment.id  location=1%}"> <h5>Likes : {{ comment.count_like }} </h5></a>
            <br><br>
        {% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'add_comment' slug=book.slug %}" method="post">
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <input type="submit" value="Оставить комментарий">
</form>
{% endif %}
{% endblock %}
</div>
</body>
</html>